In [1]:
import pandas as pd

from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

## Reading the preprocessed data

We read in the titanic csv file that we created earlier

In [2]:
df = pd.read_csv('Titanic_train_numeric.csv')

In [3]:
df.head()

,Unnamed: 0,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,0,1,0,3,1,22.0,1,0,7.2500,2
1,1,2,1,1,2,38.0,1,0,71.2833,1
2,2,3,1,3,2,26.0,0,0,7.9250,2
3,3,4,1,1,2,35.0,1,0,53.1000,2
4,4,5,0,3,1,35.0,0,0,8.0500,2

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
Unnamed: 0     891 non-null int64
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null int64
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
Embarked       891 non-null int64
dtypes: float64(2), int64(8)
memory usage: 69.7 KB

from sklearn.model_selection import train_test_split

In [5]:
# test_df = df[['Survived']] # If we need a dataframe
test_df = df['Survived']

In [6]:
test_df.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [7]:
train_df = df.drop(['Survived'], axis=1)

In [8]:
train_df.head()

   Unnamed: 0  PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0           0            1       3    1  22.0      1      0   7.2500         2
1           1            2       1    2  38.0      1      0  71.2833         1
2           2            3       3    2  26.0      0      0   7.9250         2
3           3            4       1    2  35.0      1      0  53.1000         2
4           4            5       3    1  35.0      0      0   8.0500         2

## Splitting the dataset in training and testing data sets

In [9]:
X_train, X_test, Y_train, Y_test = train_test_split(train_df, test_df, test_size = .10)

In [10]:
X_train.head()

,Unnamed: 0,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
756,756,757,3,1,28.0,0,0,7.7958,2
814,814,815,3,1,30.5,0,0,8.0500,2
791,791,792,2,1,16.0,0,0,26.0000,2
874,874,875,2,2,28.0,1,0,24.0000,1
651,651,652,2,2,18.0,0,1,23.0000,2

In [11]:
X_train.count()

Unnamed: 0     801
PassengerId    801
Pclass         801
Sex            801
Age            801
SibSp          801
Parch          801
Fare           801
Embarked       801
dtype: int64

In [12]:
Y_train.count()

801

In [13]:
X_test.count()

Unnamed: 0     90
PassengerId    90
Pclass         90
Sex            90
Age            90
SibSp          90
Parch          90
Fare           90
Embarked       90
dtype: int64

In [14]:
Y_test.count()

90

In [15]:
## D

## Initializing the Decision Tree Classifier

random_state -> seeding

In [16]:
decision_tree = DecisionTreeClassifier(random_state=4)

In [17]:
decision_tree.fit(X_train, Y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=4,
            splitter='best')

In [18]:
Y_pred = decision_tree.predict(X_test)

In [19]:
Y_pred

array([0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0])

In [20]:
# Comparing the actual values with the predicted values

In [21]:
Y_test == Y_pred

110     True
309     True
724     True
130     True
195     True
30      True
784     True
856     True
216    False
111    False
518     True
446     True
725     True
782    False
372     True
112     True
413     True
685     True
342     True
290     True
447     True
495    False
721    False
521     True
840     True
490     True
542     True
70      True
20     False
688     True
       ...
28      True
778     True
580     True
509    False
511     True
337     True
74      True
493     True
694     True
106     True
129    False
816    False
34      True
273    False
234     True
757     True
21      True
496     True
67     False
788     True
805     True
11     False
301    False
861    False
399     True
663     True
595     True
68     False
402     True
860     True
Name: Survived, Length: 90, dtype: bool

#### Finding the accuracy

In [22]:
decision_tree.score(X_test, Y_test)

0.7222222222222222

#### Changing the paramters to alter the accuracy

In [23]:
decision_tree_param = DecisionTreeClassifier(min_samples_split=4, min_samples_leaf=2, random_state=4)

In [24]:
decision_tree_param.fit(X_train, Y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=2, min_samples_split=4,
            min_weight_fraction_leaf=0.0, presort=False, random_state=4,
            splitter='best')

In [25]:
decision_tree_param.score(X_test, Y_test)

0.7111111111111111

In [26]:
Y_pred = decision_tree_param.predict(X_test)

In [27]:
Y_pred

array([0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 0])

In [28]:
from sklearn.tree import export_graphviz

In [29]:
dot_data = export_graphviz(decision_tree_param, out_file="decision.dot")

![Decision Tree](tree.png)